---
import Layout from "../layouts/layout.astro"
---

<Layout title="Descubre más sobre mí - Sebastian Armijos">
    <h1 class="text-3xl font-bold mb-4">Sobre mí</h1>
    <p>Soy un desarrollador web con experiencia en Astro, Laravel, TailwindCSS y más.</p>
</Layout>