---
import Layout from "../layouts/layout.astro";
import ContactForm from "../components/ContactForm.astro";
---

<Layout title="Contacto - Sebastian Armijos">
    <h1 class="text-3xl font-bold mb-4">¿Hablamos?</h1>
    <ContactForm />
</Layout>